 <div class="row">
    <div class="card">
        <h5 class="card-header">
            {{title}}
        </h5>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
        </div>
        <div class="card-footer text-muted">
            Posted by {{author}} on {{date}}
        </div>
        </div>
    </div>

    <div class="row">
        <form id="comment-form">
            <textarea id="comment-text-area"></textarea>
            <button id="comment-submit" data-id="{{id}}">Submit Comment</button>
        </form>
    </div>

    {{#each comments as |comment|}}
    <div class="row">
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{comment.content}}</p>
        </div>
        <div class="card-footer text-muted">
            Posted by {{comment.author}} on {{comment.date}}
        </div>
        </div>
    </div>
    {{/each}}